<ion-header [translucent]="true">
  <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Clima</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="#">Inicio
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          
        </ul>
        <form class="d-flex">
          <input class="form-control me-sm-2" type="search" placeholder="Buscar">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar</button>
        </form>
      </div>
    </div>
  </nav>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="container vh-100 d-flex justify-content-center align-items-center">
    <div class="card rounded" style="width: 20rem;">
      <img src="assets/icon/clima.png" class="card-img-top" alt="Clima">
      <div class="card-body bg-secondary text-white">

        <h5 class="card-title">Consultar Clima</h5>

        <!-- Input para ingresar ciudad -->
        <ion-item>
          <ion-label position="floating">Ciudad</ion-label>
          <ion-input [(ngModel)]="city" type="text"></ion-input>
        </ion-item>

        <!-- Botón para buscar clima -->
        <ion-button expand="block" color="primary" (click)="getWeatherData()">
          Buscar
        </ion-button>

        <!-- Mostrar datos del clima -->
        <div *ngIf="weatherData" class="mt-3">
          <p>Temperatura: {{ weatherData.current.temp_c }} °C</p>
          <p>Descripción: {{ weatherData.current.condition.text }}</p>
          <p>Humedad: {{ weatherData.current.humidity }}%</p>
          <p>Viento: {{ weatherData.current.wind_kph }} km/h</p>
        </div>

        <div *ngIf="!weatherData && cityConsulted">
          <p class="mt-3"> No se encontraron datos para "{{ city }}"</p>
        </div>

      </div>
    </div>
  </div>
</ion-content>
